html,
body,
header,
.view {
  height: 100%;
  
 
}

.my-fondo-intro {
  background-image: url('https://i.ibb.co/LJpDSZH/slider.jpg');
  background-repeat: no-repeat; background-size: cover; 
  color: white;

}
.my-title-1{
  font-size: 3rem;
  font-family: 'Galada', cursive;
}
.my-title{
  font-family: 'Galada', cursive;
}
hr.my-hr-1{
  max-width: 500px;
}


/* My Styles */



/* @media (min-width: 800px) {
    .my-fondo-texto:hover {
      padding: 20px;
    
      background: black;
      opacity: 0.1; 
      border-radius: 1.5%;
       
    
  }
  
}
 */


@media (max-width: 1024px) {
    .my-fondo-intro {    
        height: 400px;
        width: auto;
       
    }
    
   
   
}

@media (max-width: 770px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
  /* My styles*/
  h1.font-weight-bold{
    font-size: 60px;
  
  }
  p.font-header{
    font-size: 15px;
  }
  .my-card-small{
    height: auto;
}  
.my-fondo-intro {
    background-image: url('https://i.ibb.co/LJpDSZH/slider.jpg');
    height: 320px;
    width: auto;
  
  
   
}

    .my-hr-1{
      
        display: none;
    }


}
@media (max-width: 500px) {
  .my-fondo-intro{
    background-image: url('https://i.ibb.co/hCyBSFc/verdura-small.jpg');
    background-repeat: no-repeat; background-size: cover;
   
   
}
     h1.font-weight-bold {
       position: relative;
       top: 150px;
       
    }
    .my-title-1{
     
        font-size: 1.6rem;
        font-family: 'Galada', cursive;
      
    }
}



@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
   
  }
  /* my style*/
  .my-fondo-intro {
    background-image: url('https://i.ibb.co/LJpDSZH/slider.jpg');
    height: 350px;
    width: auto; 
 }
 
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
     background: #1C2331!important;
  }
  
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

